# Customer Segmentation using K-Means

## Importing Libraries

##### Note: Ipympl is used for matplotlib. It can be installed from [here](https://github.com/matplotlib/ipympl). By using ipympl, we can do a lot of things to the plot figure such as, zooming in, zooming out, and saving.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.mlab as mlab
import seaborn as sns
from scipy.stats import norm
from collections import Counter
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score
import datetime
import math
import warnings
warnings.filterwarnings("ignore")

%matplotlib inline 
%matplotlib widget

## Loading The Dataset

In [2]:
df = pd.read_excel('C:/Users/ASUS/Downloads/OnlineRetail.xlsx')
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## Get to Know Our Data

In [3]:
print(df.shape)
df.info()
df.describe(include='all')

(541909, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,541909.0,541909,540455,541909.000000,541909,541909.000000,406829.000000,541909
unique,25900.0,4070,4223,NaN,23260,NaN,NaN,38
top,573585.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-10-31 14:41:00,NaN,NaN,United Kingdom
freq,1114.0,2313,2369,NaN,1114,NaN,NaN,495478
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,9.552250,NaN,4.611114,15287.690570,NaN
std,NaN,NaN,NaN,218.081158,NaN,96.759853,1713.600303,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,-11062.060000,12346.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,13953.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.080000,15152.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.130000,16791.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

## Handling Missing Value

In [4]:
mv_info = pd.DataFrame(df.isna().sum(), columns={'Number of MV'}) #MV = Missing Value
mv_info['% MV'] = (df.isna().sum() / df.shape[0]) * 100
mv_info

             Number of MV       % MV
InvoiceNo               0   0.000000
StockCode               0   0.000000
Description          1454   0.268311
Quantity                0   0.000000
InvoiceDate             0   0.000000
UnitPrice               0   0.000000
CustomerID         135080  24.926694
Country                 0   0.000000

In [5]:
df.dropna(axis = 0, inplace = True)

mv_info = pd.DataFrame(df.isna().sum(), columns={'Number of MV'})
mv_info

             Number of MV
InvoiceNo               0
StockCode               0
Description             0
Quantity                0
InvoiceDate             0
UnitPrice               0
CustomerID              0
Country                 0

## Handling Duplicates

In [6]:
df.duplicated().sum() #Number of duplicate on our dataset

5225

In [7]:
df.drop_duplicates(inplace=True) #Dropping those duplicates from our dataset
df.duplicated().sum()

0

In [8]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

## Exploratory Data Analysis

In [9]:
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,401604.0,401604,401604,401604.000000,401604,401604.000000,401604.000000,401604
unique,22190.0,3684,3896,NaN,20460,NaN,NaN,37
top,576339.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-11-14 15:27:00,NaN,NaN,United Kingdom
freq,542.0,2065,2058,NaN,543,NaN,NaN,356728
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN
mean,NaN,NaN,NaN,12.183273,NaN,3.474064,15281.160818,NaN
std,NaN,NaN,NaN,250.283037,NaN,69.764035,1714.006089,NaN
min,NaN,NaN,NaN,-80995.000000,NaN,0.000000,12346.000000,NaN
25%,NaN,NaN,NaN,2.000000,NaN,1.250000,13939.000000,NaN
50%,NaN,NaN,NaN,5.000000,NaN,1.950000,15145.000000,NaN
75%,NaN,NaN,NaN,12.000000,NaN,3.750000,16784.000000,NaN
max,NaN,NaN,NaN,80995.000000,NaN,38970.000000,18287.000000,NaN

### Exploring Countries Column

In [10]:
print(Counter(df['Country']))

Counter({'United Kingdom': 356728, 'Germany': 9480, 'France': 8475, 'EIRE': 7475, 'Spain': 2528, 'Netherlands': 2371, 'Belgium': 2069, 'Switzerland': 1877, 'Portugal': 1471, 'Australia': 1258, 'Norway': 1086, 'Italy': 803, 'Channel Islands': 757, 'Finland': 695, 'Cyprus': 611, 'Sweden': 461, 'Austria': 401, 'Denmark': 389, 'Japan': 358, 'Poland': 341, 'USA': 291, 'Israel': 247, 'Unspecified': 241, 'Singapore': 229, 'Iceland': 182, 'Canada': 151, 'Greece': 146, 'Malta': 127, 'United Arab Emirates': 68, 'European Community': 61, 'RSA': 58, 'Lebanon': 45, 'Lithuania': 35, 'Brazil': 32, 'Czech Republic': 30, 'Bahrain': 17, 'Saudi Arabia': 10})

### Handling Canceled Orders

##### If we look at the description of dataset above, it can be seen that the minimum value of Quantity column is negative. What does it mean? Well, it simply means that the order got canceled. It must be dropped to make our data clean.

In [11]:
df['canceled_order'] = df['Quantity'].apply(lambda x:int (x < 0)) #Using lambda function to spot canceled order
df['canceled_order'].value_counts()

0    392732
1      8872
Name: canceled_order, dtype: int64

In [12]:
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,canceled_order
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom,0
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom,0
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,0
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom,0
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom,0
10,536367,22745,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,0
11,536367,22748,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom,0
12,536367,22749,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom,0
13,536367,22310,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom,0
14,536367,84969,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,0
15,536367,22623,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,0
16,536367,22622,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom,0
17,536367,21754,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,0
18,536367,21755,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom,0
19,536367,21777,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,0
20,536367,48187,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom,0
21,536368,22960,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom,0
22,536368,22913,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,0
23,536368,22912,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,0
24,536368,22914,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom,0
25,536369,21756,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom,0
26,536370,22728,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France,0
27,536370,22727,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France,0
28,536370,22726,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France,0
29,536370,21724,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France,0
...,...,...,...,...,...,...,...,...,...
541879,581585,22726,ALARM CLOCK BAKELIKE GREEN,8,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,0
541880,581585,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,0
541881,581585,16016,LARGE CHINESE STYLE SCISSOR,10,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,0
541882,581585,21916,SET 12 RETRO WHITE CHALK STICKS,24,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,0
541883,581585,84692,BOX OF 24 COCKTAIL PARASOLS,25,2011-12-09 12:31:00,0.42,15804.0,United Kingdom,0
541884,581585,84946,ANTIQUE SILVER T-LIGHT GLASS,12,2011-12-09 12:31:00,1.25,15804.0,United Kingdom,0
541885,581585,21684,SMALL MEDINA STAMPED METAL BOWL,12,2011-12-09 12:31:00,0.85,15804.0,United Kingdom,0
541886,581585,22398,MAGNETS PACK OF 4 SWALLOWS,12,2011-12-09 12:31:00,0.39,15804.0,United Kingdom,0
541887,581585,23328,SET 6 SCHOOL MILK BOTTLES IN CRATE,4,2011-12-09 12:31:00,3.75,15804.0,United Kingdom,0
541888,581585,23145,ZINC T-LIGHT HOLDER STAR LARGE,12,2011-12-09 12:31:00,0.95,15804.0,United Kingdom,0
541889,581585,22466,FAIRY TALE COTTAGE NIGHT LIGHT,12,2011-12-09 12:31:00,1.95,15804.0,United Kingdom,0
541890,581586,22061,LARGE CAKE STAND HANGING STRAWBERY,8,2011-12-09 12:49:00,2.95,13113.0,United Kingdom,0
541891,581586,23275,SET OF 3 HANGING OWLS OLLIE BEAK,24,2011-12-09 12:49:00,1.25,13113.0,United Kingdom,0
541892,581586,21217,RED RETROSPOT ROUND CAKE TINS,24,2011-12-09 12:49:00,8.95,13113.0,United Kingdom,0
541893,581586,20685,DOORMAT RED RETROSPOT,10,2011-12-09 12:49:00,7.08,13113.0,United Kingdom,0
541894,581587,22631,CIRCUS PARADE LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,0
541895,581587,22556,PLASTERS IN TIN CIRCUS PARADE,12,2011-12-09 12:50:00,1.65,12680.0,France,0
541896,581587,22555,PLASTERS IN TIN STRONGMAN,12,2011-12-09 12:50:00,1.65,12680.0,France,0
541897,581587,22728,ALARM CLOCK BAKELIKE PINK,4,2011-12-09 12:50:00,3.75,12680.0,France,0
541898,581587,22727,ALARM CLOCK BAKELIKE RED,4,2011-12-09 12:50:00,3.75,12680.0,France,0
541899,581587,22726,ALARM CLOCK BAKELIKE GREEN,4,2011-12-09 12:50:00,3.75,12680.0,France,0
541900,581587,22730,ALARM CLOCK BAKELIKE IVORY,4,2011-12-09 12:50:00,3.75,12680.0,France,0
541901,581587,22367,CHILDRENS APRON SPACEBOY DESIGN,8,2011-12-09 12:50:00,1.95,12680.0,France,0
541902,581587,22629,SPACEBOY LUNCH BOX,12,2011-12-09 12:50:00,1.95,12680.0,France,0
541903,581587,23256,CHILDRENS CUTLERY SPACEBOY,4,2011-12-09 12:50:00,4.15,12680.0,France,0
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France,0
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,0
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,0
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,0
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,0

In [13]:
df = df[~(df['canceled_order']>0)] #Excluding canceled orders
df.shape

(392732, 9)

In [14]:
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,canceled_order
count,392732.0,392732,392732,392732.000000,392732,392732.000000,392732.000000,392732,392732.0
unique,18536.0,3665,3877,NaN,17286,NaN,NaN,37,NaN
top,576339.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-11-14 15:27:00,NaN,NaN,United Kingdom,NaN
freq,542.0,2023,2016,NaN,542,NaN,NaN,349227,NaN
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.153718,NaN,3.125596,15287.734822,NaN,0.0
std,NaN,NaN,NaN,181.588420,NaN,22.240725,1713.567773,NaN,0.0
min,NaN,NaN,NaN,1.000000,NaN,0.000000,12346.000000,NaN,0.0
25%,NaN,NaN,NaN,2.000000,NaN,1.250000,13955.000000,NaN,0.0
50%,NaN,NaN,NaN,6.000000,NaN,1.950000,15150.000000,NaN,0.0
75%,NaN,NaN,NaN,12.000000,NaN,3.750000,16791.000000,NaN,0.0
max,NaN,NaN,NaN,80995.000000,NaN,8142.750000,18287.000000,NaN,0.0

### Handling Zero Value 

##### If we pay closer attention to Unit Price column, it can be found that its minimum value is zero. Is it normal? It might be free products. But, it will later disturb our data preprocessing if we keep it, so the best way is to get it removed

In [15]:
v = df['UnitPrice'] <= 0 
v.value_counts()

False    392692
True         40
Name: UnitPrice, dtype: int64

In [16]:
df.loc[df['UnitPrice'].values <= 0]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,canceled_order
9302,537197,22841,ROUND CAKE TIN VINTAGE GREEN,1,2010-12-05 14:02:00,0.0,12647.0,Germany,0
33576,539263,22580,ADVENT CALENDAR GINGHAM SACK,4,2010-12-16 14:36:00,0.0,16560.0,United Kingdom,0
40089,539722,22423,REGENCY CAKESTAND 3 TIER,10,2010-12-21 13:45:00,0.0,14911.0,EIRE,0
47068,540372,22090,PAPER BUNTING RETROSPOT,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom,0
47070,540372,22553,PLASTERS IN TIN SKULLS,24,2011-01-06 16:41:00,0.0,13081.0,United Kingdom,0
56674,541109,22168,ORGANISER WOOD ANTIQUE WHITE,1,2011-01-13 15:10:00,0.0,15107.0,United Kingdom,0
86789,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,0.0,17560.0,United Kingdom,0
130188,547417,22062,CERAMIC BOWL WITH LOVE HEART DESIGN,36,2011-03-23 10:25:00,0.0,13239.0,United Kingdom,0
139453,548318,22055,MINI CAKE STAND HANGING STRAWBERY,5,2011-03-30 12:45:00,0.0,13113.0,United Kingdom,0
145208,548871,22162,HEART GARLAND RUSTIC PADDED,2,2011-04-04 14:42:00,0.0,14410.0,United Kingdom,0
157042,550188,22636,CHILDS BREAKFAST SET CIRCUS PARADE,1,2011-04-14 18:57:00,0.0,12457.0,Switzerland,0
187613,553000,47566,PARTY BUNTING,4,2011-05-12 15:21:00,0.0,17667.0,United Kingdom,0
198383,554037,22619,SET OF 6 SOLDIER SKITTLES,80,2011-05-20 14:13:00,0.0,12415.0,Australia,0
279324,561284,22167,OVAL WALL MIRROR DIAMANTE,1,2011-07-26 12:24:00,0.0,16818.0,United Kingdom,0
282912,561669,22960,JAM MAKING SET WITH JARS,11,2011-07-28 17:09:00,0.0,12507.0,Spain,0
285657,561916,M,Manual,1,2011-08-01 11:44:00,0.0,15581.0,United Kingdom,0
298054,562973,23157,SET OF 6 NATIVITY MAGNETS,240,2011-08-11 11:42:00,0.0,14911.0,EIRE,0
314745,564651,23270,SET OF 2 CERAMIC PAINTED HEARTS,96,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0
314746,564651,23268,SET OF 2 CERAMIC CHRISTMAS REINDEER,192,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0
314747,564651,22955,36 FOIL STAR CAKE CASES,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0
314748,564651,21786,POLKADOT RAIN HAT,144,2011-08-26 14:19:00,0.0,14646.0,Netherlands,0
358655,568158,PADS,PADS TO MATCH ALL CUSHIONS,1,2011-09-25 12:22:00,0.0,16133.0,United Kingdom,0
361825,568384,M,Manual,1,2011-09-27 09:46:00,0.0,12748.0,United Kingdom,0
379913,569716,22778,GLASS CLOCHE SMALL,2,2011-10-06 08:17:00,0.0,15804.0,United Kingdom,0
395529,571035,M,Manual,1,2011-10-13 12:50:00,0.0,12446.0,RSA,0
420404,572893,21208,PASTEL COLOUR HONEYCOMB FAN,5,2011-10-26 14:36:00,0.0,18059.0,United Kingdom,0
436428,574138,23234,BISCUIT TIN VINTAGE CHRISTMAS,216,2011-11-03 11:26:00,0.0,12415.0,Australia,0
436597,574175,22065,CHRISTMAS PUDDING TRINKET POT,12,2011-11-03 11:47:00,0.0,14110.0,United Kingdom,0
436961,574252,M,Manual,1,2011-11-03 13:24:00,0.0,12437.0,France,0
439361,574469,22385,JUMBO BAG SPACEBOY DESIGN,12,2011-11-04 11:55:00,0.0,12431.0,Australia,0
446125,574879,22625,RED KITCHEN SCALES,2,2011-11-07 13:22:00,0.0,13014.0,United Kingdom,0
446793,574920,22899,CHILDREN'S APRON DOLLY GIRL,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom,0
446794,574920,23480,MINI LIGHTS WOODLAND MUSHROOMS,1,2011-11-07 16:34:00,0.0,13985.0,United Kingdom,0
454463,575579,22437,SET OF 9 BLACK SKULL BALLOONS,20,2011-11-10 11:49:00,0.0,13081.0,United Kingdom,0
454464,575579,22089,PAPER BUNTING VINTAGE PAISLEY,24,2011-11-10 11:49:00,0.0,13081.0,United Kingdom,0
479079,577129,22464,HANGING METAL HEART LANTERN,4,2011-11-17 19:52:00,0.0,15602.0,United Kingdom,0
479546,577168,M,Manual,1,2011-11-18 10:42:00,0.0,12603.0,Germany,0
480649,577314,23407,SET OF 2 TRAYS HOME SWEET HOME,2,2011-11-18 13:23:00,0.0,12444.0,Norway,0
485985,577696,M,Manual,1,2011-11-21 11:57:00,0.0,16406.0,United Kingdom,0
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.0,13256.0,United Kingdom,0

In [17]:
df = df[~(df['UnitPrice']<=0)]
df.shape

(392692, 9)

### Handling Outlier

In [18]:
plt.figure()
plt.boxplot(df['Quantity'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

{'whiskers': [<matplotlib.lines.Line2D at 0x16851c25ef0>,
  <matplotlib.lines.Line2D at 0x168505bd2e8>],
 'caps': [<matplotlib.lines.Line2D at 0x168505bd668>,
  <matplotlib.lines.Line2D at 0x168505bd9e8>],
 'boxes': [<matplotlib.lines.Line2D at 0x16851c25da0>],
 'medians': [<matplotlib.lines.Line2D at 0x168505bdd68>],
 'fliers': [<matplotlib.lines.Line2D at 0x16850449128>],
 'means': []}

In [19]:
plt.figure()
plt.boxplot(df['UnitPrice'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

{'whiskers': [<matplotlib.lines.Line2D at 0x16851ba53c8>,
  <matplotlib.lines.Line2D at 0x16851ba5748>],
 'caps': [<matplotlib.lines.Line2D at 0x16851ba5ac8>,
  <matplotlib.lines.Line2D at 0x16851ba5e48>],
 'boxes': [<matplotlib.lines.Line2D at 0x16851ba5278>],
 'medians': [<matplotlib.lines.Line2D at 0x1684ba47208>],
 'fliers': [<matplotlib.lines.Line2D at 0x1685a9adc88>],
 'means': []}

### Adding Amount Features

##### Amount columns is added into data frame as monetary value. Quantity and Unit Price are simply multiplied to obtain amount of the products.

In [20]:
df['amount'] = df['Quantity'] * df['UnitPrice'] # 
df.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,canceled_order,amount
count,392692.0,392692,392692,392692.000000,392692,392692.000000,392692.000000,392692,392692.0,392692.000000
unique,18532.0,3665,3877,NaN,17282,NaN,NaN,37,NaN,NaN
top,576339.0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,NaN,2011-11-14 15:27:00,NaN,NaN,United Kingdom,NaN,NaN
freq,542.0,2023,2016,NaN,542,NaN,NaN,349203,NaN,NaN
first,NaN,NaN,NaN,NaN,2010-12-01 08:26:00,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,NaN,2011-12-09 12:50:00,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,13.119702,NaN,3.125914,15287.843865,NaN,0.0,22.631500
std,NaN,NaN,NaN,180.492832,NaN,22.241836,1713.539549,NaN,0.0,311.099224
min,NaN,NaN,NaN,1.000000,NaN,0.001000,12346.000000,NaN,0.0,0.001000
25%,NaN,NaN,NaN,2.000000,NaN,1.250000,13955.000000,NaN,0.0,4.950000
50%,NaN,NaN,NaN,6.000000,NaN,1.950000,15150.000000,NaN,0.0,12.450000
75%,NaN,NaN,NaN,12.000000,NaN,3.750000,16791.000000,NaN,0.0,19.800000
max,NaN,NaN,NaN,80995.000000,NaN,8142.750000,18287.000000,NaN,0.0,168469.600000

In [21]:
plt.figure()
plt.boxplot(df['amount']) #Using boxplot to spot outliers from amount column in dataset

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

{'whiskers': [<matplotlib.lines.Line2D at 0x16847138198>,
  <matplotlib.lines.Line2D at 0x168471435c0>],
 'caps': [<matplotlib.lines.Line2D at 0x16846fc3438>,
  <matplotlib.lines.Line2D at 0x16855052b00>],
 'boxes': [<matplotlib.lines.Line2D at 0x168471370f0>],
 'medians': [<matplotlib.lines.Line2D at 0x1684ba47828>],
 'fliers': [<matplotlib.lines.Line2D at 0x1684ba47dd8>],
 'means': []}

In [22]:
drop_amount = df['amount']>6000 #Deciding that every value above 6000 would be considered as an outlier
drop_amount.value_counts()

False    392685
True          7
Name: amount, dtype: int64

In [23]:
df = df[~(df['amount']>6000)] #Dropping outliers
df.shape

(392685, 10)

### Building New Data Frame

##### As been told before that RFM (Recence, Frequency, and Monetary) method would be used to measure customers' loyalty in this project, new data frame must be built in order to do that. It only requires Customer ID, Invoice Date, and Amount column from the previous data frame to build new one.

In [24]:
df['CustomerID'].unique().shape

(4337,)

In [25]:
data = { 'Customer ID'  : df['CustomerID'],
         'Invoice Date' : df['InvoiceDate'],
         'Amount'       : df['amount']    
        }

df_new = pd.DataFrame(data)
df_new

        Customer ID        Invoice Date  Amount
0           17850.0 2010-12-01 08:26:00   15.30
1           17850.0 2010-12-01 08:26:00   20.34
2           17850.0 2010-12-01 08:26:00   22.00
3           17850.0 2010-12-01 08:26:00   20.34
4           17850.0 2010-12-01 08:26:00   20.34
5           17850.0 2010-12-01 08:26:00   15.30
6           17850.0 2010-12-01 08:26:00   25.50
7           17850.0 2010-12-01 08:28:00   11.10
8           17850.0 2010-12-01 08:28:00   11.10
9           13047.0 2010-12-01 08:34:00   54.08
10          13047.0 2010-12-01 08:34:00   12.60
11          13047.0 2010-12-01 08:34:00   12.60
12          13047.0 2010-12-01 08:34:00   30.00
13          13047.0 2010-12-01 08:34:00    9.90
14          13047.0 2010-12-01 08:34:00   25.50
15          13047.0 2010-12-01 08:34:00   14.85
16          13047.0 2010-12-01 08:34:00   19.90
17          13047.0 2010-12-01 08:34:00   17.85
18          13047.0 2010-12-01 08:34:00   17.85
19          13047.0 2010-12-01 08:34:00   31.80
20          13047.0 2010-12-01 08:34:00   31.80
21          13047.0 2010-12-01 08:34:00   25.50
22          13047.0 2010-12-01 08:34:00   14.85
23          13047.0 2010-12-01 08:34:00   14.85
24          13047.0 2010-12-01 08:34:00   14.85
25          13047.0 2010-12-01 08:35:00   17.85
26          12583.0 2010-12-01 08:45:00   90.00
27          12583.0 2010-12-01 08:45:00   90.00
28          12583.0 2010-12-01 08:45:00   45.00
29          12583.0 2010-12-01 08:45:00   10.20
...             ...                 ...     ...
541879      15804.0 2011-12-09 12:31:00   30.00
541880      15804.0 2011-12-09 12:31:00   15.00
541881      15804.0 2011-12-09 12:31:00    8.50
541882      15804.0 2011-12-09 12:31:00   10.08
541883      15804.0 2011-12-09 12:31:00   10.50
541884      15804.0 2011-12-09 12:31:00   15.00
541885      15804.0 2011-12-09 12:31:00   10.20
541886      15804.0 2011-12-09 12:31:00    4.68
541887      15804.0 2011-12-09 12:31:00   15.00
541888      15804.0 2011-12-09 12:31:00   11.40
541889      15804.0 2011-12-09 12:31:00   23.40
541890      13113.0 2011-12-09 12:49:00   23.60
541891      13113.0 2011-12-09 12:49:00   30.00
541892      13113.0 2011-12-09 12:49:00  214.80
541893      13113.0 2011-12-09 12:49:00   70.80
541894      12680.0 2011-12-09 12:50:00   23.40
541895      12680.0 2011-12-09 12:50:00   19.80
541896      12680.0 2011-12-09 12:50:00   19.80
541897      12680.0 2011-12-09 12:50:00   15.00
541898      12680.0 2011-12-09 12:50:00   15.00
541899      12680.0 2011-12-09 12:50:00   15.00
541900      12680.0 2011-12-09 12:50:00   15.00
541901      12680.0 2011-12-09 12:50:00   15.60
541902      12680.0 2011-12-09 12:50:00   23.40
541903      12680.0 2011-12-09 12:50:00   16.60
541904      12680.0 2011-12-09 12:50:00   10.20
541905      12680.0 2011-12-09 12:50:00   12.60
541906      12680.0 2011-12-09 12:50:00   16.60
541907      12680.0 2011-12-09 12:50:00   16.60
541908      12680.0 2011-12-09 12:50:00   14.85

[392685 rows x 3 columns]

### Adding Frequency Features

##### Frequency refers to the number of products that a customer bought

In [26]:
df2 = df_new.groupby(df_new['Customer ID']).count().reset_index() 
df3 = df2.drop(['Amount'],axis=1)                               
df4 = df3.rename(columns={'Invoice Date':'Frequency'})
df4

      Customer ID  Frequency
0         12347.0        182
1         12348.0         31
2         12349.0         73
3         12350.0         17
4         12352.0         85
5         12353.0          4
6         12354.0         58
7         12355.0         13
8         12356.0         59
9         12357.0        131
10        12358.0         19
11        12359.0        245
12        12360.0        129
13        12361.0         10
14        12362.0        266
15        12363.0         23
16        12364.0         85
17        12365.0         22
18        12367.0         11
19        12370.0        166
20        12371.0         63
21        12372.0         52
22        12373.0         14
23        12374.0         33
24        12375.0         17
25        12377.0         77
26        12378.0        219
27        12379.0         40
28        12380.0        104
29        12381.0         87
...           ...        ...
4307      18242.0         78
4308      18245.0        175
4309      18246.0          4
4310      18248.0         47
4311      18249.0          8
4312      18250.0         21
4313      18251.0         16
4314      18252.0         94
4315      18255.0          6
4316      18257.0        118
4317      18259.0         42
4318      18260.0        133
4319      18261.0         21
4320      18262.0         13
4321      18263.0         61
4322      18265.0         46
4323      18268.0          1
4324      18269.0          7
4325      18270.0         11
4326      18272.0        166
4327      18273.0          3
4328      18274.0         11
4329      18276.0         14
4330      18277.0          8
4331      18278.0          9
4332      18280.0         10
4333      18281.0          7
4334      18282.0         12
4335      18283.0        721
4336      18287.0         70

[4337 rows x 2 columns]

### Adding Recency Features

##### Recency refers to the last day the customer made transaction

In [27]:
ref_date = df_new['Invoice Date'].max()
ref_date = ref_date+ datetime.timedelta(days=1)
ref_date

Timestamp('2011-12-10 12:50:00')

In [28]:
df_new['days_since_last_purchase'] = ref_date - df_new['Invoice Date']
df_new['days_since_last_purchase_num'] = df_new['days_since_last_purchase'].astype('timedelta64[D]')

df5 = df_new.groupby("Customer ID").min().reset_index()[['Customer ID', 'days_since_last_purchase_num', 'Amount']]
df5.rename(columns={'days_since_last_purchase_num':'Recency'},inplace=True)
df5

      Customer ID  Recency  Amount
0         12347.0      2.0    5.04
1         12348.0     75.0   13.20
2         12349.0     19.0    6.64
3         12350.0    310.0    8.50
4         12352.0     36.0    9.90
5         12353.0    204.0   11.60
6         12354.0    232.0    8.50
7         12355.0    214.0   17.70
8         12356.0     23.0    3.75
9         12357.0     33.0   10.08
10        12358.0      2.0    9.36
11        12359.0     58.0    6.96
12        12360.0     52.0    5.04
13        12361.0    287.0   15.00
14        12362.0      3.0    2.88
15        12363.0    110.0   13.20
16        12364.0      8.0    5.04
17        12365.0    291.0    5.04
18        12367.0      4.0    9.90
19        12370.0     51.0    1.25
20        12371.0     45.0    4.68
21        12372.0     72.0   10.08
22        12373.0    311.0    8.50
23        12374.0     25.0    5.04
24        12375.0     11.0    8.50
25        12377.0    315.0    5.04
26        12378.0    130.0    4.68
27        12379.0     82.0    8.50
28        12380.0     22.0    7.80
29        12381.0      5.0    4.50
...           ...      ...     ...
4307      18242.0     72.0    6.64
4308      18245.0      7.0    4.56
4309      18246.0     24.0   29.50
4310      18248.0    123.0    4.56
4311      18249.0     17.0    6.84
4312      18250.0    310.0    6.72
4313      18251.0     87.0  138.24
4314      18252.0     51.0    0.29
4315      18255.0     89.0    9.90
4316      18257.0     39.0    8.50
4317      18259.0     25.0   12.60
4318      18260.0    173.0    6.96
4319      18261.0     43.0    9.95
4320      18262.0    140.0    2.88
4321      18263.0     26.0    3.80
4322      18265.0     72.0    9.95
4323      18268.0    134.0   25.50
4324      18269.0    366.0   18.60
4325      18270.0     38.0   11.40
4326      18272.0      3.0    6.64
4327      18273.0      2.0   51.00
4328      18274.0     30.0   10.20
4329      18276.0     44.0    7.90
4330      18277.0     58.0    6.96
4331      18278.0     74.0   10.20
4332      18280.0    278.0   14.85
4333      18281.0    181.0    5.04
4334      18282.0      8.0    5.04
4335      18283.0      4.0    0.29
4336      18287.0     43.0    5.04

[4337 rows x 3 columns]

### Final Data Frame

In [29]:
df6 = pd.merge(df4, df5)
df6

      Customer ID  Frequency  Recency  Amount
0         12347.0        182      2.0    5.04
1         12348.0         31     75.0   13.20
2         12349.0         73     19.0    6.64
3         12350.0         17    310.0    8.50
4         12352.0         85     36.0    9.90
5         12353.0          4    204.0   11.60
6         12354.0         58    232.0    8.50
7         12355.0         13    214.0   17.70
8         12356.0         59     23.0    3.75
9         12357.0        131     33.0   10.08
10        12358.0         19      2.0    9.36
11        12359.0        245     58.0    6.96
12        12360.0        129     52.0    5.04
13        12361.0         10    287.0   15.00
14        12362.0        266      3.0    2.88
15        12363.0         23    110.0   13.20
16        12364.0         85      8.0    5.04
17        12365.0         22    291.0    5.04
18        12367.0         11      4.0    9.90
19        12370.0        166     51.0    1.25
20        12371.0         63     45.0    4.68
21        12372.0         52     72.0   10.08
22        12373.0         14    311.0    8.50
23        12374.0         33     25.0    5.04
24        12375.0         17     11.0    8.50
25        12377.0         77    315.0    5.04
26        12378.0        219    130.0    4.68
27        12379.0         40     82.0    8.50
28        12380.0        104     22.0    7.80
29        12381.0         87      5.0    4.50
...           ...        ...      ...     ...
4307      18242.0         78     72.0    6.64
4308      18245.0        175      7.0    4.56
4309      18246.0          4     24.0   29.50
4310      18248.0         47    123.0    4.56
4311      18249.0          8     17.0    6.84
4312      18250.0         21    310.0    6.72
4313      18251.0         16     87.0  138.24
4314      18252.0         94     51.0    0.29
4315      18255.0          6     89.0    9.90
4316      18257.0        118     39.0    8.50
4317      18259.0         42     25.0   12.60
4318      18260.0        133    173.0    6.96
4319      18261.0         21     43.0    9.95
4320      18262.0         13    140.0    2.88
4321      18263.0         61     26.0    3.80
4322      18265.0         46     72.0    9.95
4323      18268.0          1    134.0   25.50
4324      18269.0          7    366.0   18.60
4325      18270.0         11     38.0   11.40
4326      18272.0        166      3.0    6.64
4327      18273.0          3      2.0   51.00
4328      18274.0         11     30.0   10.20
4329      18276.0         14     44.0    7.90
4330      18277.0          8     58.0    6.96
4331      18278.0          9     74.0   10.20
4332      18280.0         10    278.0   14.85
4333      18281.0          7    181.0    5.04
4334      18282.0         12      8.0    5.04
4335      18283.0        721      4.0    0.29
4336      18287.0         70     43.0    5.04

[4337 rows x 4 columns]

In [30]:
df6.describe(include='all')

        Customer ID    Frequency      Recency       Amount
count   4337.000000  4337.000000  4337.000000  4337.000000
mean   15301.089232    90.543002    92.529859    14.079641
std     1721.422291   225.528815    99.968030   100.433631
min    12347.000000     1.000000     1.000000     0.001000
25%    13814.000000    17.000000    18.000000     0.950000
50%    15300.000000    41.000000    51.000000     5.040000
75%    16779.000000    98.000000   142.000000     9.950000
max    18287.000000  7676.000000   374.000000  3861.000000

### Vizualizing Our New Data Frame

In [31]:
plt.figure()

x = df6['Recency']
mu = np.mean(df6['Recency'])
sigma = math.sqrt(np.var(df6['Recency']))
n, bins, patches = plt.hist(x, 1000, facecolor='green', alpha=0.75) 

# add a 'best fit' line
y = norm.pdf(bins, mu, sigma)
l = plt.plot(bins, y, 'r--', linewidth=2)

plt.xlabel('Recency in days')
plt.ylabel('Number of transactions')
plt.title(r'$\mathrm{Histogram\ of\ sales\ recency}\ $')
plt.grid(True)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [32]:
plt.figure()
sns.distplot(df6['Recency'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

## Data Preprocessing

In [33]:
from sklearn import preprocessing

df6['recency_log'] = df6['Recency'].apply(math.log)
df6['frequency_log'] = df6['Frequency'].apply(math.log)
df6['amount_log'] = df6['Amount'].apply(math.log)
feature_vector = ['amount_log', 'recency_log','frequency_log']

X = df6[feature_vector].as_matrix()
scaler = preprocessing.StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [34]:
plt.figure()
sns.distplot(df6['amount_log'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [35]:
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure(figsize=(8, 6))
ax  = fig.add_subplot(111, projection='3d')
xs  = df6.recency_log
ys  = df6.frequency_log
zs  = df6.amount_log

ax.scatter(xs, ys, zs, s=5)
ax.set_xlabel('Recency')
ax.set_ylabel('Frequency')
ax.set_zlabel('Monetary')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Text(0.5, 0, 'Monetary')

## Building Model

##### Here, K-means algorithm is built for the final data frame and using silhouette score to determine the most suitable number of cluster for the data. Code from sckit learn is utilized for this part. It can be found [here](https://scikit-learn.org/stable/auto_examples/cluster/plot_kmeans_silhouette_analysis.html#:~:text=Selecting%20the%20number%20of%20clusters%20with%20silhouette%20analysis%20on%20KMeans%20clustering,-Silhouette%20analysis%20can&text=The%20silhouette%20plot%20displays%20a,of%20%5B%2D1%2C%201%5D)

In [36]:

X = X_scaled

cluster_centers = dict()

range_n_clusters = [2, 3, 4, 5, 6]

for n_clusters in range_n_clusters:
    fig, (ax1, ax2) = plt.subplots(1, 2)
    #ax2 = plt.subplot(111, projection='3d')
    fig.set_size_inches(18, 7)
    ax1.set_xlim([-0.1, 1])
    ax1.set_ylim([0, len(X) + (n_clusters + 1) * 10])

    clusterer = KMeans(n_clusters=n_clusters, random_state=10)
    cluster_labels = clusterer.fit_predict(X)

    silhouette_avg = silhouette_score(X, cluster_labels)
    cluster_centers.update({n_clusters :{
                                        'cluster_center':clusterer.cluster_centers_,
                                        'silhouette_score':silhouette_avg,
                                        'labels':cluster_labels}
                           })

    sample_silhouette_values = silhouette_samples(X, cluster_labels)
    y_lower = 10
    for i in range(n_clusters):
        ith_cluster_silhouette_values = \
            sample_silhouette_values[cluster_labels == i]

        ith_cluster_silhouette_values.sort()

        size_cluster_i = ith_cluster_silhouette_values.shape[0]
        y_upper = y_lower + size_cluster_i

        color = cm.get_cmap("Spectral")(float(i) / n_clusters)
        ax1.fill_betweenx(np.arange(y_lower, y_upper),
                          0, ith_cluster_silhouette_values,
                          facecolor=color, edgecolor=color, alpha=0.7)

        ax1.text(-0.05, y_lower + 0.5 * size_cluster_i, str(i))
        y_lower = y_upper + 10  # 10 for the 0 samples

    ax1.set_title("The silhouette plot for the various clusters.")
    ax1.set_xlabel("The silhouette coefficient values")
    ax1.set_ylabel("Cluster label")
    ax1.axvline(x=silhouette_avg, color="red", linestyle="--")
    ax1.set_yticks([])
    ax1.set_xticks([-0.1, 0, 0.2, 0.4, 0.6, 0.8, 1])
    colors = cm.get_cmap("Spectral")(cluster_labels.astype(float) / n_clusters)
    feature1 = 0
    feature2 = 2
    ax2.scatter(X[:, feature1], X[:, feature2], marker='.', s=30, lw=0, alpha=0.7,
                c=colors, edgecolor='k')
    
    centers = clusterer.cluster_centers_
    ax2.scatter(centers[:, feature1], centers[:, feature2], marker='o',
                c="white", alpha=1, s=200, edgecolor='k')
    for i, c in enumerate(centers):
        ax2.scatter(c[feature1], c[feature2], marker='$%d$' % i, alpha=1,
                    s=50, edgecolor='k')
    ax2.set_title("The visualization of the clustered data.")
    ax2.set_xlabel("Feature space for the 1st feature i.e. monetary value")
    ax2.set_ylabel("Feature space for the 2nd feature i.e. frequency")
    plt.suptitle(("Silhouette analysis for KMeans clustering on sample data "
                  "with n_clusters = %d" % n_clusters),
                 fontsize=14, fontweight='bold')
    plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

In [37]:
wcss = [] #Elbow method can be als used to determine the best number of cluster for our data

for i in range(1,10):
    kmeans = KMeans(i)
    kmeans.fit(X)
    wcss.append(kmeans.inertia_)
    
wcss

[13011.000000000002,
 7771.843347603591,
 6186.49268906452,
 5010.41180792757,
 4239.2894883528115,
 3683.374994990919,
 3261.403895276844,
 2925.4817369340926,
 2681.673049672266]

In [38]:
plt.figure()
plt.plot(range(1,10), wcss)
plt.xlabel('Number of Cluster')
plt.ylabel('WCSS')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous â€¦

Text(0, 0.5, 'WCSS')

In [39]:
for i in range_n_clusters:
    print("for {} number of clusters".format(i))
    cent_transformed = scaler.inverse_transform(cluster_centers[i]['cluster_center'])
    print(pd.DataFrame(np.exp(cent_transformed),columns=feature_vector))
    print("Silhouette score for cluster {} is {}". format(i, cluster_centers[i]['silhouette_score']))
    print()

for 2 number of clusters
   amount_log  recency_log  frequency_log
0    7.803758    99.956143      16.134245
1    1.427091    17.047855     106.210579
Silhouette score for cluster 2 is 0.34716096819296516

for 3 number of clusters
   amount_log  recency_log  frequency_log
0    8.944057   118.930938      14.093275
1    0.505941    30.929696     106.758086
2    5.311127    12.828600      72.218597
Silhouette score for cluster 3 is 0.31686057443249915

for 4 number of clusters
   amount_log  recency_log  frequency_log
0   16.827309   109.613328       6.784090
1    0.442115    18.469855     140.489966
2    5.530386     9.905715      72.074847
3    3.452628   110.873339      35.690878
Silhouette score for cluster 4 is 0.2770645751503889

for 5 number of clusters
   amount_log  recency_log  frequency_log
0   30.726610   100.741415       3.630262
1    0.654396    85.271230      56.528306
2    0.534700     8.003292     206.668966
3    7.119889   119.928355      21.715319
4    5.773680    13.630924      64.390702
Silhouette score for cluster 5 is 0.2893926936609343

for 6 number of clusters
   amount_log  recency_log  frequency_log
0    0.683251   103.650272      47.879387
1    6.075217    38.968040      49.947175
2    4.905869     4.666987      90.986827
3    0.435302    11.684867     183.044910
4   61.011075    79.155370       2.554102
5    8.377495   152.020275      13.513878
Silhouette score for cluster 6 is 0.29369361956924017

## Deciding The Number of Cluster 

##### From the Silhouette score, it can be seen that the number of cluster that has high score is 2 and 3. In parallel, from the elbow method, it can be seen that 2 and 3 are the best fit number of cluster. Thus, 2 and 3 number of clusters are going to be used. But, it is more effective to use 3 number of clusters, 2 clusters more likely classification task.

In [40]:
labels = cluster_centers[2]['labels']   
df6['num_cluster2_labels'] = labels
labels = cluster_centers[3]['labels']
df6['num_cluster3_labels'] = labels

In [41]:
df6

,Customer ID,Frequency,Recency,Amount,recency_log,frequency_log,amount_log,num_cluster2_labels,num_cluster3_labels
0,12347.0,182,2.0,5.04,0.693147,5.204007,1.617406,1,2
1,12348.0,31,75.0,13.20,4.317488,3.433987,2.580217,0,0
2,12349.0,73,19.0,6.64,2.944439,4.290459,1.893112,1,2
3,12350.0,17,310.0,8.50,5.736572,2.833213,2.140066,0,0
4,12352.0,85,36.0,9.90,3.583519,4.442651,2.292535,1,2
5,12353.0,4,204.0,11.60,5.318120,1.386294,2.451005,0,0
6,12354.0,58,232.0,8.50,5.446737,4.060443,2.140066,0,0
7,12355.0,13,214.0,17.70,5.365976,2.564949,2.873565,0,0
8,12356.0,59,23.0,3.75,3.135494,4.077537,1.321756,1,2
9,12357.0,131,33.0,10.08,3.496508,4.875197,2.310553,1,2
10,12358.0,19,2.0,9.36,0.693147,2.944439,2.236445,1,2
11,12359.0,245,58.0,6.96,4.060443,5.501258,1.940179,1,2
12,12360.0,129,52.0,5.04,3.951244,4.859812,1.617406,1,2
13,12361.0,10,287.0,15.00,5.659482,2.302585,2.708050,0,0
14,12362.0,266,3.0,2.88,1.098612,5.583496,1.057790,1,2
15,12363.0,23,110.0,13.20,4.700480,3.135494,2.580217,0,0
16,12364.0,85,8.0,5.04,2.079442,4.442651,1.617406,1,2
17,12365.0,22,291.0,5.04,5.673323,3.091042,1.617406,0,0
18,12367.0,11,4.0,9.90,1.386294,2.397895,2.292535,0,2
19,12370.0,166,51.0,1.25,3.931826,5.111988,0.223144,1,1
20,12371.0,63,45.0,4.68,3.806662,4.143135,1.543298,1,2
21,12372.0,52,72.0,10.08,4.276666,3.951244,2.310553,0,0
22,12373.0,14,311.0,8.50,5.739793,2.639057,2.140066,0,0
23,12374.0,33,25.0,5.04,3.218876,3.496508,1.617406,0,2
24,12375.0,17,11.0,8.50,2.397895,2.833213,2.140066,0,2
25,12377.0,77,315.0,5.04,5.752573,4.343805,1.617406,0,0
26,12378.0,219,130.0,4.68,4.867534,5.389072,1.543298,1,2
27,12379.0,40,82.0,8.50,4.406719,3.688879,2.140066,0,0
28,12380.0,104,22.0,7.80,3.091042,4.644391,2.054124,1,2
29,12381.0,87,5.0,4.50,1.609438,4.465908,1.504077,1,2
...,...,...,...,...,...,...,...,...,...
4307,18242.0,78,72.0,6.64,4.276666,4.356709,1.893112,0,2
4308,18245.0,175,7.0,4.56,1.945910,5.164786,1.517323,1,2
4309,18246.0,4,24.0,29.50,3.178054,1.386294,3.384390,0,0
4310,18248.0,47,123.0,4.56,4.812184,3.850148,1.517323,0,0
4311,18249.0,8,17.0,6.84,2.833213,2.079442,1.922788,0,0
4312,18250.0,21,310.0,6.72,5.736572,3.044522,1.905088,0,0
4313,18251.0,16,87.0,138.24,4.465908,2.772589,4.928991,0,0
4314,18252.0,94,51.0,0.29,3.931826,4.543295,-1.237874,1,1
4315,18255.0,6,89.0,9.90,4.488636,1.791759,2.292535,0,0
4316,18257.0,118,39.0,8.50,3.663562,4.770685,2.140066,1,2
4317,18259.0,42,25.0,12.60,3.218876,3.737670,2.533697,0,2
4318,18260.0,133,173.0,6.96,5.153292,4.890349,1.940179,0,0
4319,18261.0,21,43.0,9.95,3.761200,3.044522,2.297573,0,0
4320,18262.0,13,140.0,2.88,4.941642,2.564949,1.057790,0,0
4321,18263.0,61,26.0,3.80,3.258097,4.110874,1.335001,1,2
4322,18265.0,46,72.0,9.95,4.276666,3.828641,2.297573,0,0
4323,18268.0,1,134.0,25.50,4.897840,0.000000,3.238678,0,0
4324,18269.0,7,366.0,18.60,5.902633,1.945910,2.923162,0,0
4325,18270.0,11,38.0,11.40,3.637586,2.397895,2.433613,0,0
4326,18272.0,166,3.0,6.64,1.098612,5.111988,1.893112,1,2
4327,18273.0,3,2.0,51.00,0.693147,1.098612,3.931826,0,2
4328,18274.0,11,30.0,10.20,3.401197,2.397895,2.322388,0,0
4329,18276.0,14,44.0,7.90,3.784190,2.639057,2.066863,0,0
4330,18277.0,8,58.0,6.96,4.060443,2.079442,1.940179,0,0
4331,18278.0,9,74.0,10.20,4.304065,2.197225,2.322388,0,0
4332,18280.0,10,278.0,14.85,5.627621,2.302585,2.698000,0,0
4333,18281.0,7,181.0,5.04,5.198497,1.945910,1.617406,0,0
4334,18282.0,12,8.0,5.04,2.079442,2.484907,1.617406,0,2
4335,18283.0,721,4.0,0.29,1.386294,6.580639,-1.237874,1,1
4336,18287.0,70,43.0,5.04,3.761200,4.248495,1.617406,1,2