# Predicting Stock Market Using Recurrent Neural Network (RNN)

## Importing Libraries

In [1]:
import math
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

%matplotlib widget

Using TensorFlow backend.

## Loading Dataset

In [2]:
df = pd.read_csv('Tesla.csv', index_col=0, parse_dates=True)
df

,Open,High,Low,Close,Volume,Adj Close
Date,,,,,,
2010-06-29,19.000000,25.000000,17.540001,23.889999,18766300,23.889999
2010-06-30,25.790001,30.420000,23.299999,23.830000,17187100,23.830000
2010-07-01,25.000000,25.920000,20.270000,21.959999,8218800,21.959999
2010-07-02,23.000000,23.100000,18.709999,19.200001,5139800,19.200001
2010-07-06,20.000000,20.000000,15.830000,16.110001,6866900,16.110001
2010-07-07,16.400000,16.629999,14.980000,15.800000,6921700,15.800000
2010-07-08,16.139999,17.520000,15.570000,17.459999,7711400,17.459999
2010-07-09,17.580000,17.900000,16.549999,17.400000,4050600,17.400000
2010-07-12,17.950001,18.070000,17.000000,17.049999,2202500,17.049999
2010-07-13,17.389999,18.639999,16.900000,18.139999,2680100,18.139999
2010-07-14,17.940001,20.150000,17.760000,19.840000,4195200,19.840000
2010-07-15,19.940001,21.500000,19.000000,19.889999,3739800,19.889999
2010-07-16,20.700001,21.299999,20.049999,20.639999,2621300,20.639999
2010-07-19,21.370001,22.250000,20.920000,21.910000,2486500,21.910000
2010-07-20,21.850000,21.850000,20.049999,20.299999,1825300,20.299999
2010-07-21,20.660000,20.900000,19.500000,20.219999,1252500,20.219999
2010-07-22,20.500000,21.250000,20.370001,21.000000,957800,21.000000
2010-07-23,21.190001,21.559999,21.059999,21.290001,653600,21.290001
2010-07-26,21.500000,21.500000,20.299999,20.950001,922200,20.950001
2010-07-27,20.910000,21.180000,20.260000,20.549999,619700,20.549999
2010-07-28,20.549999,20.900000,20.510000,20.719999,467200,20.719999
2010-07-29,20.770000,20.879999,20.000000,20.350000,616000,20.350000
2010-07-30,20.200001,20.440001,19.549999,19.940001,426900,19.940001
2010-08-02,20.500000,20.969999,20.330000,20.920000,718100,20.920000
2010-08-03,21.000000,21.950001,20.820000,21.950001,1230500,21.950001
2010-08-04,21.950001,22.180000,20.850000,21.260000,913000,21.260000
2010-08-05,21.540001,21.549999,20.049999,20.450001,796200,20.450001
2010-08-06,20.100000,20.160000,19.520000,19.590000,741900,19.590000
2010-08-09,19.900000,19.980000,19.450001,19.600000,812700,19.600000
2010-08-10,19.650000,19.650000,18.820000,19.030001,1281300,19.030001
...,...,...,...,...,...,...
2017-02-03,251.910004,252.179993,249.679993,251.330002,2186700,251.330002
2017-02-06,251.000000,257.820007,250.630005,257.769989,3562500,257.769989
2017-02-07,258.190002,260.000000,256.420013,257.480011,4244800,257.480011
2017-02-08,257.350006,263.359985,256.200012,262.079987,3933000,262.079987
2017-02-09,266.250000,271.179993,266.149994,269.200012,7820200,269.200012
2017-02-10,269.790009,270.950012,266.109985,269.230011,3619700,269.230011
2017-02-13,270.739990,280.790009,270.510010,280.600006,7029600,280.600006
2017-02-14,279.029999,287.390015,278.609985,280.980011,7329400,280.980011
2017-02-15,280.000000,282.239990,276.440002,279.760010,4935600,279.760010
2017-02-16,277.600006,280.000000,268.500000,268.950012,7053800,268.950012
2017-02-17,265.799988,272.890015,264.149994,272.230011,6247600,272.230011
2017-02-21,275.450012,281.399994,274.010010,277.390015,5634500,277.390015
2017-02-22,280.309998,283.450012,272.600006,273.510010,8081400,273.510010
2017-02-23,264.000000,264.660004,255.559998,255.990005,14867000,255.990005
2017-02-24,252.660004,258.250000,250.199997,257.000000,8160500,257.000000
2017-02-27,248.169998,248.360001,242.009995,246.229996,11432900,246.229996
2017-02-28,244.190002,251.000000,243.899994,249.990005,6065600,249.990005
2017-03-01,254.179993,254.850006,249.110001,250.020004,4800300,250.020004
2017-03-02,249.710007,253.279999,248.270004,250.479996,3342300,250.479996
2017-03-03,250.740005,251.899994,249.000000,251.570007,2919400,251.570007
2017-03-06,247.910004,251.699997,247.509995,251.210007,3351200,251.210007
2017-03-07,251.919998,253.889999,248.320007,248.589996,3449200,248.589996
2017-03-08,247.000000,250.070007,245.320007,246.869995,3725200,246.869995
2017-03-09,247.630005,248.660004,243.000000,244.899994,3861500,244.899994
2017-03-10,246.210007,246.500000,243.000000,243.690002,3057000,243.690002
2017-03-13,244.820007,246.850006,242.779999,246.169998,3010700,246.169998
2017-03-14,246.110001,258.119995,246.020004,258.000000,7575500,258.000000
2017-03-15,257.000000,261.000000,254.270004,255.729996,4816600,255.729996
2017-03-16,262.399994,265.750000,259.059998,262.049988,7100400,262.049988
2017-03-17,264.000000,265.329987,261.200012,261.500000,6475900,261.500000

## Visualizing the dataset

In [3]:
plt.figure(figsize=(8,5))
plt.title('Close Price History')
plt.plot(df['Close'])
plt.xlabel('Date', fontsize=15)
plt.ylabel('Close Price USD ($)', fontsize=15)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

## Data Preprocessing

### Determining the used data

In [4]:
data = df.filter(['Close']) # Data with only "Close" column

dataset = data.values # Converting data to array

train_data_len = math.ceil(len(dataset)*0.8) # Determining the lenght of training set
                                             # With this, we can also determine the test set in the next line
train_data_len

1354

### Scaling the dataset

In [5]:
scaler = MinMaxScaler(feature_range=(0,1))
data_scaled = scaler.fit_transform(dataset)
data_scaled

array([[0.02993635],
       [0.02971433],
       [0.02279455],
       ...,
       [0.88784039],
       [0.91122698],
       [0.9091918 ]])

### Creating the training set

In [6]:
train_data = data_scaled[0:train_data_len , :]

# Splitting training data into x_train and y_train
x_train = []
y_train = []

for i in range(60, len(train_data)):
    x_train.append(train_data[i-60:i,0])
    y_train.append(train_data[i,0])
    if i<=61:
        print(x_train)
        print(y_train)
        print()

[array([0.02993635, 0.02971433, 0.02279455, 0.01258141, 0.00114713,
       0.        , 0.00614268, 0.00592066, 0.00462551, 0.00865897,
       0.01494967, 0.01513469, 0.01791   , 0.02260953, 0.01665186,
       0.01635583, 0.01924215, 0.02031528, 0.01905714, 0.01757696,
       0.01820603, 0.01683689, 0.01531972, 0.01894612, 0.02275755,
       0.02020426, 0.01720693, 0.01402457, 0.01406157, 0.01195234,
       0.00777087, 0.00666075, 0.00932504, 0.01102724, 0.01239639,
       0.01099023, 0.01106424, 0.01221137, 0.01602279, 0.01258141,
       0.0151717 , 0.01461664, 0.01443162, 0.01506069, 0.01361752,
       0.01720693, 0.01946418, 0.01942717, 0.01753997, 0.01887211,
       0.01816903, 0.01617081, 0.01820603, 0.01968621, 0.02286856,
       0.01902013, 0.01639284, 0.01946418, 0.01839106, 0.01506069])]
[0.01391355415474397]

[array([0.02993635, 0.02971433, 0.02279455, 0.01258141, 0.00114713,
       0.        , 0.00614268, 0.00592066, 0.00462551, 0.00865897,
       0.01494967, 0.01513469, 0.01791   , 0.02260953, 0.01665186,
       0.01635583, 0.01924215, 0.02031528, 0.01905714, 0.01757696,
       0.01820603, 0.01683689, 0.01531972, 0.01894612, 0.02275755,
       0.02020426, 0.01720693, 0.01402457, 0.01406157, 0.01195234,
       0.00777087, 0.00666075, 0.00932504, 0.01102724, 0.01239639,
       0.01099023, 0.01106424, 0.01221137, 0.01602279, 0.01258141,
       0.0151717 , 0.01461664, 0.01443162, 0.01506069, 0.01361752,
       0.01720693, 0.01946418, 0.01942717, 0.01753997, 0.01887211,
       0.01816903, 0.01617081, 0.01820603, 0.01968621, 0.02286856,
       0.01902013, 0.01639284, 0.01946418, 0.01839106, 0.01506069]), array([0.02971433, 0.02279455, 0.01258141, 0.00114713, 0.        ,
       0.00614268, 0.00592066, 0.00462551, 0.00865897, 0.01494967,
       0.01513469, 0.01791   , 0.02260953, 0.01665186, 0.01635583,
       0.01924215, 0.02031528, 0.01905714, 0.01757696, 0.01820603,
       0.01683689, 0.01531972, 0.01894612, 0.02275755, 0.02020426,
       0.01720693, 0.01402457, 0.01406157, 0.01195234, 0.00777087,
       0.00666075, 0.00932504, 0.01102724, 0.01239639, 0.01099023,
       0.01106424, 0.01221137, 0.01602279, 0.01258141, 0.0151717 ,
       0.01461664, 0.01443162, 0.01506069, 0.01361752, 0.01720693,
       0.01946418, 0.01942717, 0.01753997, 0.01887211, 0.01816903,
       0.01617081, 0.01820603, 0.01968621, 0.02286856, 0.01902013,
       0.01639284, 0.01946418, 0.01839106, 0.01506069, 0.01391355])]
[0.01391355415474397, 0.015911781589675718]

### Converting x_train and y_train to numpy arrays

In [7]:
x_train, y_train = np.array(x_train), np.array(y_train)

### Reshaping the data

In [8]:
x_train = np.reshape(x_train, (x_train.shape[0], x_train.shape[1], 1))
x_train.shape

(1294, 60, 1)

## Building the LSTM model

In [9]:
model = Sequential()
model.add(LSTM(50, return_sequences=True, input_shape=(x_train.shape[1],1)))
model.add(LSTM(50, return_sequences=False))
model.add(Dense(25))
model.add(Dense(1))

## Compiling the model

In [10]:
model.compile(optimizer='adam', loss='mean_squared_error')

## Training the model

In [11]:
model.fit(x_train, y_train, batch_size=1, epochs=1)

WARNING:tensorflow:From C:\Users\ASUS\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Epoch 1/1
1294/1294 [==============================] - 96s 74ms/step - loss: 0.0031

## Creating testing data

In [12]:
test_data = data_scaled[train_data_len - 60:, :]

x_test = []
y_test = dataset[train_data_len:, :]
for i in range(60, len(test_data)):
    x_test.append(test_data[i-60:i, 0])

In [13]:
x_test = np.array(x_test)

In [14]:
x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

## Predicting the testing data

In [15]:
predictions = model.predict(x_test)
predictions = scaler.inverse_transform(predictions)

## Getting the root mean square error

In [16]:
rmse = np.sqrt(np.mean(predictions-y_test)**2)
rmse

4.186520680502266

## Visualizing the predicted data

In [17]:
train = data[:train_data_len]
valid = data[train_data_len:]
valid['Predictions'] = predictions

plt.figure(figsize=(10,5))
plt.title('Model')
plt.xlabel('Date', fontsize=15)
plt.ylabel('Close Price USD ($)', fontsize=15)
plt.plot(train['Close'])
plt.plot(valid[['Close', 'Predictions']])
plt.legend(['Train', 'Val', 'Predictions'], loc='lower right')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [18]:
valid

                 Close  Predictions
Date
2015-11-12  212.940002   227.800156
2015-11-13  207.190002   226.844910
2015-11-16  214.309998   224.857208
2015-11-17  214.000000   223.214005
2015-11-18  221.070007   221.833817
2015-11-19  221.800003   221.448288
2015-11-20  220.009995   221.699570
2015-11-23  217.750000   222.126999
2015-11-24  218.250000   222.416260
2015-11-25  229.639999   222.669373
2015-11-27  231.610001   223.997543
2015-11-30  230.259995   225.915756
2015-12-01  237.190002   227.837158
2015-12-02  231.990005   230.264923
2015-12-03  232.710007   232.155182
2015-12-04  230.380005   233.651901
2015-12-07  231.130005   234.517059
2015-12-08  226.720001   235.012970
2015-12-09  224.520004   234.788300
2015-12-10  227.070007   233.985657
2015-12-11  217.020004   233.198441
2015-12-14  218.580002   231.477646
2015-12-15  221.089996   229.643173
2015-12-16  234.509995   228.161835
2015-12-17  233.389999   228.343140
2015-12-18  230.460007   229.253738
2015-12-21  232.559998   230.235519
2015-12-22  229.949997   231.404541
2015-12-23  229.699997   232.288574
2015-12-24  230.570007   232.915970
...                ...          ...
2017-02-03  251.330002   252.149597
2017-02-06  257.769989   252.046677
2017-02-07  257.480011   252.556854
2017-02-08  262.079987   253.275726
2017-02-09  269.200012   254.511581
2017-02-10  269.230011   256.587616
2017-02-13  280.600006   258.864014
2017-02-14  280.980011   262.161163
2017-02-15  279.760010   265.611206
2017-02-16  268.950012   268.648956
2017-02-17  272.230011   270.036133
2017-02-21  277.390015   270.767365
2017-02-22  273.510010   271.509094
2017-02-23  255.990005   271.713959
2017-02-24  257.000000   269.865479
2017-02-27  246.229996   267.343231
2017-02-28  249.990005   263.605682
2017-03-01  250.020004   260.066895
2017-03-02  250.479996   256.975159
2017-03-03  251.570007   254.523392
2017-03-06  251.210007   252.820251
2017-03-07  248.589996   251.703247
2017-03-08  246.869995   250.808289
2017-03-09  244.899994   250.011017
2017-03-10  243.690002   249.188766
2017-03-13  246.169998   248.346466
2017-03-14  258.000000   247.844208
2017-03-15  255.729996   248.745575
2017-03-16  262.049988   250.024811
2017-03-17  261.500000   252.050110

[338 rows x 2 columns]